<template>
  <div
    class=" w-full h-full flex justify-center items-center
           bg-slate-300"
    @click="tutorialVisible = false"
  >
    <!-- 提示發球方 -->
    <div
      class="serve-board w-1/2 h-full absolute  top-0 bg-orange-200"
      :class="isServeLeft ? 'left-0' : 'left-1/2'"
    />

    <scoreboard-standard
      ref="scoreboard"
      @serve-change="setServeLeft(!isServeLeft)"
    />

    <!-- 工具列 -->
    <div class=" w-full absolute bottom-0 flex justify-center p-10 gap-20">
      <!-- 左邊發球 -->
      <transition
        name="flip-up"
        mode="out-in"
      >
        <q-icon
          :key="getServeIcon(isServeLeft)"
          :name="getServeIcon(isServeLeft)"
          size="60px"
          class=" cursor-pointer"
          :class="isServeLeft ? 'opacity-100' : 'opacity-40'"
          color="white"
          @click="setServeLeft(true)"
        >
          <q-tooltip
            :model-value="tutorialVisible"
            no-parent-event
            anchor="top middle"
            self="bottom middle"
          >
            設定發球方，目前為左方發球
          </q-tooltip>
        </q-icon>
      </transition>

      <!-- 重設 -->
      <q-icon
        name="restart_alt"
        size="60px"
        class=" cursor-pointer"
        color="white"
        @click="reset()"
      >
        <q-tooltip
          :model-value="tutorialVisible"
          no-parent-event
          anchor="top middle"
          self="bottom middle"
        >
          歸零全部數值
        </q-tooltip>
      </q-icon>

      <!-- 新局 -->
      <q-icon
        name="add_circle_outline"
        size="60px"
        class=" cursor-pointer "
        color="white"
        @click="resetScore()"
      >
        <q-tooltip
          :model-value="tutorialVisible"
          no-parent-event
          anchor="top middle"
          self="bottom middle"
        >
          開始新局（僅歸零分數）
        </q-tooltip>
      </q-icon>

      <!-- 右邊發球 -->
      <transition
        name="flip-up"
        mode="out-in"
      >
        <q-icon
          :key="getServeIcon(!isServeLeft)"
          :name="getServeIcon(!isServeLeft)"
          size="60px"
          class=" cursor-pointer"
          :class="!isServeLeft ? '!opacity-100' : 'opacity-40'"
          color="white"
          @click="setServeLeft(false)"
        />
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
export const PROVIDE_KEY = Symbol('the-scoreboard');

export interface ProvideData {
  tutorialVisible: Ref<boolean>,
}
</script>

<script setup lang="ts">
import { provide, ref, Ref } from 'vue';

import ScoreboardStandard from '../components/scoreboard-standard.vue';

import { useQuasar } from 'quasar';



const $q = useQuasar();

const scoreboard = ref<InstanceType<typeof ScoreboardStandard>>();
const tutorialVisible = ref(true);

provide<ProvideData>(PROVIDE_KEY, {
  tutorialVisible,
});

const isServeLeft = ref(true);
function setServeLeft(value: boolean) {
  isServeLeft.value = value;
}
function getServeIcon(value: boolean) {
  return value ? 'task_alt' : 'radio_button_unchecked';
}

async function reset() {
  await scoreboard.value?.reset();
  $q.notify({
    type: 'positive',
    message: '已全部歸零',
    timeout: 1000
  });
}

async function resetScore() {
  await scoreboard.value?.resetScore();
  $q.notify({
    type: 'positive',
    message: '已開始新局',
    timeout: 1000
  });
}

</script>

<style scoped lang="sass">
.flip-up-enter-active, .flip-up-leave-active
  transition-duration: 0.4s
  pointer-events: none
.flip-up-leave-active
  transition-timing-function: cubic-bezier(0.600, 0.040, 0.980, 0.335)
.flip-up-enter-active
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000)

.flip-up-enter-from
  transform: rotateX(90deg)  !important
.flip-up-leave-to
  transform: rotateX(-90deg) !important

.serve-board
  transition-duration: 0.5s
  transition-timing-function: cubic-bezier(0.930, 0.005, 0.105, 0.995)

</style>
