<template>
  <div class=" board flex justify-center items-center gap-8">
    <score-card
      v-model="left.score"
      card-class="w-[400px] h-[500px]"
      score-class="text-[280px]"
      :tutorial-visible="tutorialVisible"
    />
    <score-card
      v-model="left.game"
      card-class="w-[160px] h-[200px]"
      score-class="text-[100px]"
    />

    <score-card
      v-model="right.game"
      card-class="w-[160px] h-[200px]"
      score-class="text-[100px]"
    />
    <score-card
      v-model="right.score"
      card-class="w-[400px] h-[500px]"
      score-class="text-[280px]"
    />
  </div>
</template>

<script setup lang="ts">
import { inject, watch, computed, ref } from 'vue';

import ScoreCard from './scoreboard-standard-score-card.vue';

import { promiseTimeout, useVModels, watchPausable } from '@vueuse/core';
import { PROVIDE_KEY, ProvideData } from '../views/the-scoreboard.vue';

interface State {
  /** 分數 */
  score: number;
  /** 局數 */
  game: number;
}

interface Props {
  leftState?: State;
  rightState?: State;
}
const props = withDefaults(defineProps<Props>(), {
  leftState: () => ({
    score: 0, game: 0,
  }),
  rightState: () => ({
    score: 0, game: 0,
  }),
});

const emit = defineEmits<{
  (e: 'update:leftState', value: State): void;
  (e: 'update:rightState', value: State): void;
  (e: 'serve-change'): void;
}>();

const injectData = inject<ProvideData>(PROVIDE_KEY);

const tutorialVisible = computed(() => !!injectData?.tutorialVisible.value);

const {
  leftState: left, rightState: right
} = useVModels(props, emit, { passive: true });


const scoreCounter = ref(0);
const {
  pause: scorePause, resume: scoreResume
} = watchPausable(() => [left.value.score, right.value.score], ([leftScore, rightScore]) => {
  // deuce
  if (leftScore >= 10 && rightScore >= 10) {
    emit('serve-change');
    scoreCounter.value = 0;
    return;
  }

  scoreCounter.value++;

  if (scoreCounter.value % 2 === 0) {
    emit('serve-change');
    scoreCounter.value = 0;
    return;
  }
});

const {
  pause: gamePause, resume: gameResume
} = watchPausable(() => [left.value.game, right.value.game], () => {
  emit('serve-change');
  scoreCounter.value = 0;
});

async function reset() {
  scoreCounter.value = 0;
  scorePause();
  gamePause();

  left.value.score = 0;
  await promiseTimeout(100);
  left.value.game = 0;
  await promiseTimeout(100);
  right.value.game = 0;
  await promiseTimeout(100);
  right.value.score = 0;

  scoreResume();
  gameResume();
}

async function resetScore() {
  scoreCounter.value = 0;
  scorePause();
  gamePause();

  left.value.score = 0;
  right.value.score = 0;

  scoreResume();
  gameResume();
}

defineExpose({
  /** 歸零 */
  reset,
  resetScore,
});
</script>

<style scoped lang="sass">

</style>
